@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Maré Alta APP</h1>
    <p>Escolha o assunto sobre a cidade de São Sebastião:</p>
    <p> <a asp-controller="Home" asp-action="Inicio">História de São Sebastião</a></p>
    <p> <a asp-controller="Funcionario" asp-action="Index">Locais para visitar e Hotéis</a></p>
</div>
