@{
    ViewData["Title"] = "Início";
}

<link rel="stylesheet" href="segundatela.css" />

<div class="text-center">
    <h1 class="display-4"> São Sebastião</h1>
    <img src="https://www.transportal.com.br/noticias/wp-content/uploads/2019/06/S%C3%A3o-Sebasti%C3%A3o-Praia.jpg" />

</div>

<p></p>
<p></p>
<p></p>
<p></p>

<div>
    <center> <h2> Povoação indígena: </h2> </center>
  <center> <p>  É a cidade mais antiga do litoral norte. Antes da colonização portuguesa, a região de São Sebastião era ocupada por Tupinambás e Tupiniquins, sendo a serra de Boiçucanga uma divisa natural das terras.</p></center>

    <center> <h2> Ocupação portuguesa: </h2> </center>
    <center><p> A ocupação portuguesa ocorre com o início da História do Brasil, após a divisão do território em Capitanias Hereditárias. Em 1608, aproximadamente, João de Abreu e Diogo de Unhate  obtiveram sesmaria em São Sebastião sendo eles os sesmeiros que iniciaram a povoação com agricultura, pesca e alguns engenhos de madeira de cana-de-açúcar. Isto possibilitou a elevação do povoado à categoria de vila em 16 de março de 1636 e a wmancipação político-administrativa (elevação à categoria de cidade) em 20 de abril de 1875.</p></center>
</div>

