@{
    ViewData["Title"] = "Locais para visitar e Hotéis";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Locais para visitar e Hotéis</title>
</head>
<body>
    <div id: "coqueiro">
    <center> <h1>Locais para visitar:</h1></center>
            <br />
    <center> <h3>Praia de Juquehy:</h3></center>
    <center><img src="https://www.viagenscinematograficas.com.br/wp-content/uploads/2022/10/Juquehy-O-que-Fazer-Praias-Capa.jpg" /></center>
    <br />
    <center> <h3>Praia de Camburizinho:</h3></center>
    <center><img src="https://imgmd.net/images/v1/guia/1698858/praia-de-camburizinho.jpg" /></center>
    <br />
    <center> <h3>Praia de Juquehy:</h3></center>
    <center><img src="https://www.essemundoenosso.com.br/wp-content/uploads/2017/09/praia-calhetas-pernambuco-3-740x493.jpg" /></center>
    </div>

    <br />

    <div>
        <center> <h1>Hotéis:</h1></center>
        <br />
        <center> <h3>Amora Hotel:</h3></center>
        <center><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/98/6d/38/a-melhor-vista-da-praia.jpg?w=700&h=-1&s=1" /></center>
        <br />
        <center> <h3>Villa l´Mare Hotel:</h3></center>
        <center><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/93/ca/f3/villa-l-mare-hotel.jpg?w=700&h=-1&s=1" /></center>
       <br />
        <center> <h3>Praia de Juquehy:</h3></center>
        <center><img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/525899230.jpg?k=dded62ff5ac83cd435dde67f51f19d257da206184819968653a7d122555244e8&o=&hp=1" /></center>
    </div>
    </div>
</body>
</html>